# URL của Supabase Project (Settings -> API)
PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co

# API Key ẩn danh (Settings -> API -> anon public)
PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key

# Google Analytics 4 Measurement ID
PUBLIC_GA_ID=G-M1NVN63DDJ

# Doca Coin Hub Microservice Backend API
PUBLIC_COIN_HUB_API_URL=http://localhost:3005
